HTML {
	background-color: #4C7094;
}

body {
	font-size: 11px;
	color: #666;
	background: url("../images/site/body-bg.jpg") repeat-x scroll 0 0
		#4C7094;
	/* font-family:'Droid Sans',Tahoma,Arial,sans-serif; */
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
}

a {
	color: #336699;
	text-decoration: none;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

a img {
	border: none;
}

h1,h2,h3,h4,.heading,#topnav>UL>LI>A {
	clear: left;
	color: #5c5a5a;
	font-weight: 400;
	margin: 0.7em 0;
	font-family: 'Crimson Text', serif;
}

h1 {
	font-size: 2.6em;
	padding: 6px;
}

h2 {
	font-size: 22px;
	padding: 6px;
}

h3 {
	font-size: 1.3em;
	padding: 6px;
}

ul.product_list {
	margin: 5px;
	padding: 0;
}

div>ul.product_list>li { /* margin: 0px; */
	margin-left: 2em;
	/* background-image: url("../images/site/next.gif") ;
	background-repeat: no-repeat;
	background-position: 0 .4em; */
	list-style-type: disc;
	padding-left: .4em;
}

ul.product_list li>a { /* color: #336699; */
	color: #152551;
	font-size: 11px;
	text-decoration: none;
}

#header,#footer {
	clear: both;
	display: block;
}

#footer ul {
	border-right: 1px dotted #B5B5B5;
	height: 180px;
}

hr {
	background-color: #CCCCCC;
	border-width: 0;
	clear: both;
	height: 1px;
	line-height: 0;
	margin: 5px 30px 10px;
}

.top-banner {
	left: 2.5em;
	height: 120px;
	overflow: hidden;
}

.top-banner div {
	margin: 0 auto;
	padding-top: 10px;
	width: 1000px;
}

#header #user,#header #contact {
	position: absolute;
	right: 50px;
	text-align: right;
}

#logo {
	float: left;
	margin: 2px;
	margin-left:10px;
	position: relative;
	z-index: 100;
}

#header #tagline {
	line-height: 10px;
	padding-top: 40px;
}

#header a {
	text-decoration: none;
	color: #336699;
}

#header a:hover {
	text-decoration: none;
}

#header a:hover span {
	
}

#bottombar a {
	color: #0D3358 !important;
}

#header .sub-nav a {
	background: none repeat scroll 0 0 transparent;
}

#header .nav {
	background-color: #FAFAFA;
	margin-top: 30px;
}

#user {
	font-size: 11px;
	top: 5px;
	z-index: 1000;
	position: inherit;
	margin-right: 150px;
	color: #000;
}

#user a img {
	vertical-align: bottom;
}

#user a i { /* font-family:'Droid Sans',Tahoma,Arial,sans-serif; */
	font-size: 13px;
}

#user .division {
	display: inline;
}

#top-banner-slider {
	float: left;
	margin-top: 0.5em;
	margin-left: 4.4em;
	height: 300px;
	max-height: 300px;
	overflow: hidden;
}

#top-banner-slider img {
	float: left;
	height: 300px;
	width: 1004px;
}

/* Clearing fix */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* Additional classes */
.shadow {
	background: url("../images/site/shadow.png") top center no-repeat;
}

.bottom_shadow {
	background: url("../images/bottom_shadow.png") top center no-repeat;
	width: 100%;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* Main navigation menu */
#nav {
	font-family: 'Droid Sans', Verdana, Tahoma, sans-serif;
	text-align: center;
	margin-bottom: 2px;
}
/* #nav ul{list-style:none;margin:5px 5px;}
#nav ul li{background:none!important;display:inline-block;text-align:right;height:auto;line-height:25px;margin-bottom:0;margin-left:25px;position:relative;}
#nav ul li a{color:#797777;display:block;font-size:12px;padding-top:0;text-transform:uppercase;}
#nav ul li a:hover{color:#111;}
#nav ul li a.current{color:#000;} */
.overlay {
	background: transparent url(../images/overlay.png) repeat top left;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}

.box {
	position: fixed;
	top: 40px;
	left: 40%;
	background-color: #FFF;
	border: 1px solid #ccc;
	z-index: 101;
	width: auto;
	height: auto;
	padding:25px; 
}

/* Footer */
#footer {
	clear: both;
	background-color: #0F3B5F;
	color: #CCCCCC;
	padding: 2px;
	height: 240px;
	font-family: 'Droid Sans', Verdana, Tahoma, sans-serif;
	font-size: 11px;
	margin-top: 2px;
}

#footer ul {
	
}

#footer ul>li {
	list-style-type: none;
	/*border-bottom: 1px solid #D9DCDC;
 	border-bottom-style: dotted;*/
}

#footer ul>li>a {
	font-family: 'Droid Sans', Verdana, Tahoma, sans-serif;
	text-align: center;
	padding: 5px;
	margin-right: 5px;
	color: #CCCCCC;
}

#footer ul>li>a:hover {
	font-family: 'Droid Sans', Verdana, Tahoma, sans-serif;
	text-align: center;
	padding: 5px;
	margin-right: 5px;
	color: #CCCCCC;
}

#footer a:VISITED {
	text-align: center;
	padding: 5px;
	margin-right: 5px;
	color: #FAFAFA;
	text-decoration: none;
}

#footer h4.footer_group_title {
	font-size: 13px;
	text-transform: uppercase;
	color: #D6E4E1;
	font-family: 'Droid Sans', Verdana, Tahoma, sans-serif;
	border-bottom: 1px solid #FAFAFA;
	border-bottom-style: dotted;
}

#footer p {
	color: #777;
	font-size: 12px;
	margin: 0;
	padding: 10px;
}

/* MESSAGES AND ERRORS */
.error_messages {
	display: inline;
	margin: 5px;
	background: #f3f3ff;
}

.error_messages ul {
	
}

.error_messages li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

.errors,.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
	display: inline;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	-moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	box-shadow: 0 0 0.25em #b2d1ff;
	display: inline;
	width: 95%;
}

.errors {
	background: #fff3f3;
	color: #cc0000;
}

.errors ul,.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */
input,select,textarea,label {
	font-family: 'Droid Sans', Tahoma, Arial, sans-serif;
	font-size: 12px;
}

.error input,.error select,.error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus,.error select:focus,.error textarea:focus {
	-moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	box-shadow: 0 0 0.5em #ffaaaa;
}

table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child,tr>th:first-child {
	padding-left: 4px;
}

tr>td:last-child,tr>th:last-child {
	padding: 4px;
}

td,th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
	font-size: 11px;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff),
		color-stop(1, #eaeaea) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=  '#ffffff',
		EndColorStr=  '#eaeaea' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
	text-align: center;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link,th a:visited {
	color: #666666;
}

th a:hover,th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

.hover th:hover,tr:hover { /* background: #E1F2B6; */
	/* background: #EEE; */
	
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
	padding: 0.5em;
	position: absolute;
	right: 50%;
	top: 0;
	text-indent: -9999px;
}

#topnav {
	padding: 0px 0px;
	text-align: right;
}

#topnav a.signin {
	text-decoration: none;
	/* color:#fff; */
	/* -webkit-border-radius:4px;
	padding:2px 2px;
	background:#88bbd4;
	font-weight:bold;
	-moz-border-radius:4px;
	border-radius:4px;
	*background:transparent url("../images/signin-nav-bg-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px; */
}

#topnav a.signin,#topnav a.signin:hover {
	*background-position: 0 3px !important;
}

a.signin {
	position: relative;
	margin-left: 3px;
}

a.signin span {
	
}

#topnav a.menu-open {
	color: #FAFAFA !important;
	border-bottom: 1px dashed #D9DCDC;
}

#small_signup {
	display: inline;
	float: none;
	line-height: 23px;
	margin: 25px 0 0;
	width: 170px;
}

a.signin.menu-open span {
	color: #336699;
}

#signin_menu {
	display: none;
	background-color: #ddeef6;
	position: absolute;
	width: 210px;
	z-index: 100;
	border: 1px transparent;
	text-align: left;
	padding: 12px;
	top: 24.5px;
	right: 0px;
	margin-top: 5px;
	margin-right: 0px;
	*margin-right: -1px;
	color: #789;
	font-size: 11px;
}

#signin_menu input[type=text],#signin_menu input[type=password] {
	display: block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #ACE;
	font-size: 11px;
	margin: 0 0 5px;
	padding: 5px;
	width: 203px;
}

#signin_menu p {
	margin: 0;
}

#signin_menu a {
	color: #6AC;
}

#signin_menu label {
	font-weight: normal;
	color: #222;
}

#signin_menu p.remember {
	padding: 10px 0;
}

#signin_menu p.forgot,#signin_menu p.complete {
	clear: both;
	margin: 5px 0;
}

#signin_menu p a {
	color: #27B !important;
}

#signin_submit {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #39d url('../images/bg-btn-blue.png') repeat-x scroll 0 0;
	border: 1px solid #39D;
	color: #fff;
	text-shadow: 0 -1px 0 #39d;
	padding: 4px 10px 5px;
	font-size: 11px;
	margin: 0 5px 0 0;
}

#signin_submit::-moz-focus-inner {
	padding: 0;
	border: 0;
}

#signin_submit:hover,#signin_submit:focus {
	background-position: 0 -5px;
	cursor: pointer;
}

.tipsy-inner {
	padding: 10px 15px;
	line-height: 1.5em;
	font-weight: bold;
}

.tipsy {
	opacity: .8;
	filter: alpha(opacity = 80);
	background-repeat: no-repeat;
	padding: 5px;
}

.tipsy-inner {
	padding: 8px 8px;
	max-width: 200px;
	font: 11px 'Lucida Grande', sans-serif;
	font-weight: bold;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #000;
	color: white;
	text-align: left;
}

.tipsy-north {
	background-image: url(../images/tipsy-north.gif);
	background-position: top center;
}

.tipsy-south {
	background-image: url(../images/tipsy-south.gif);
	background-position: bottom center;
}

.tipsy-east {
	background-image: url(../images/tipsy-east.gif);
	background-position: right center;
}

.tipsy-west {
	background-image: url(../images/tipsy-west.gif);
	background-position: left center;
}

.form {
	padding: 10px;
}

tr {
	border: 0;
}

.form>td {
	padding: 2px;
}

.productCatTab{
	width: 200px;
	display: block;
}

.Cat_tabs {
	width: 150px;
	float: left;
	border: 2px solid #069;
	background: #F7F7F7;
	border-bottom: none;
	border-radius: 8px 8px 0 0;
	color: #152551;
	text-align: center;
	font: bold;
	font-size: 13px;
	height: 30px;
}

.Cat_tabs_active {
	width: 150px;
	height: 30px;
	float: left;
	border: 2px solid #069;
	background: #F7F7F7;
	border-bottom: none;
	border-radius: 8px 8px 0 0;
	color: #FFF;
	text-align: center;
	font: bold;
	background-color: #069;
	font-size: 13px;
}

.Cat_tabs_active > a {
	color: #FFF;
	margin-bottom: 30px;
}

.Cat_tabs > a {
	color: #152551;
	margin-bottom: 30px;
}