<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	'-//Hibernate/Hibernate Configuration DTD 3.0//EN'
	'http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>

	<session-factory>
		<!-- Product Schema -->
		<mapping class='com.openappengine.model.product.Product' />
		<mapping class='com.openappengine.model.product.ProductType' />
		<mapping class='com.openappengine.model.product.ProdProductPrice'/>
		<mapping class='com.openappengine.model.product.ProductCategory'/>
		<mapping class='com.openappengine.model.product.Gemstone'/>
		
		<!-- Common Schema -->
		<mapping class='com.openappengine.model.common.Image'/>
	</session-factory>

</hibernate-configuration>
