<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	'-//Hibernate/Hibernate Configuration DTD 3.0//EN'
	'http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>

	<session-factory>
		<!-- Product Schema -->
		<mapping class='com.openappengine.model.product.Product' />
		<mapping class='com.openappengine.model.product.ProductType' />
		<mapping class='com.openappengine.model.product.ProductTypeAttribute'/>
		<mapping class='com.openappengine.model.product.ProdProductPrice'/>
		<mapping class='com.openappengine.model.product.ProductCategory'/>
		<mapping class='com.openappengine.model.product.ProductAttribute'/>
		<mapping class='com.openappengine.model.product.ProductReview'/>
		<mapping class='com.openappengine.model.product.ProductCalculatedInfo'/>
		<mapping class='com.openappengine.model.product.Gemstone'/>
		<mapping class='com.openappengine.model.product.Diamond'/>
		<mapping class='com.openappengine.model.product.Jewellery'/>
		
		<!-- Common Schema -->
		<mapping class='com.openappengine.model.common.Image'/>
		
		<!-- E-Commerce -->
		<mapping class='com.openappengine.model.cart.ShoppingCart'/>
		<mapping class='com.openappengine.model.cart.ShoppingCartItem'/>
		<mapping class='com.openappengine.model.wishlist.WishList'/>
		<mapping class='com.openappengine.model.wishlist.WishListItem'/>
		<mapping class='com.openappengine.model.shipping.Address'/>
		
		<!-- CMS -->
		<mapping class='com.openappengine.model.cms.Content'/>
		
	</session-factory>

</hibernate-configuration>

